{% extends "index.html" %}
{% block start %}

 <div class="content-section col-md-8 col-md-offset-2">
  <center>
  <form method="POST" action="" style="border: 1px solid black; margin: 4%; padding:10%; border-radius:1%;">
    <h1> LOGIN HERE </h1>
    <br/>
    {% csrf_token %}
    <fieldset class="form-group">
      <input type="text" class="form-control" name="username" placeholder="username" required>
      <br/>
      <input type="password" class="form-control" name="password" placeholder="password" required>
    </fieldset>
    <br/>
   <center>
    <button style="font-size: 1.5rem; padding:1.5%;" class="btn btn-outline-info" type="submit"> Login</button>
  </center>
  <br/>
  <sub style="text-align: left;"><a href="{% url 'register' %}" style="text-decoration: none;font-size: 16px; padding:2%; cursor:pointer; margin-right:2%;">Don't have an account? Sign up</a></sub>
  </form>
</center>
 </div>
{% endblock start %}